<!-------- first black row----------->
<div class="container-fluid bg-dark h-50 inline-block" >
  <div class="container h-50 inline-block" >
    <div class="row h-50 inline-block" >

      <div class="col-md-9 col-sm-9 col-lg-9">
        <p class="text-white w-50" style="margin-top: 12px;">Quick Service,Quality Service,we work 24*7</p>
      </div>


      <div class="col-md-3 col-sm-3 col-lg-3">
        <i class="fab fa-facebook-f text-light" style="padding: 4.5%"></i>
        <i class="fab fa-twitter text-light" style="padding: 4.5%"></i>
        <i class="fab fa-linkedin-in text-light" style="padding: 4.5%"></i>
        <i class="fas fa-wifi text-light" style="padding: 4.5%"></i>
      </div>
    </div>
  </div>
</div>


<!-------- logo image row----------->
<div class="container-fluid bg-light">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-sm-6 col-lg-6 logo-img">
        <img src="https://i.pinimg.com/originals/19/62/af/1962afa7d4c82cc0628edfa6a1b4b7cd.jpg" alt="">
      </div>

      <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="row">
          <div class="col-md-6 contact-img">
            <img src="https://i.pinimg.com/originals/19/62/af/1962afa7d4c82cc0628edfa6a1b4b7cd.jpg" alt="">
          </div>
          
          <div class="col-md-6 address-img">
            <img src="https://i.pinimg.com/originals/19/62/af/1962afa7d4c82cc0628edfa6a1b4b7cd.jpg" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-------- Menu row----------->
<div class="container-fluid bg-light">
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav flex gap-3">
          <a class="nav-link text-light" href="#" style="padding-right: 6%; padding-left:6%">Home</a>
          <a class="nav-link text-light" href="#" style="padding-right: 6%; padding-left:6%">Features</a>
          <a class="nav-link text-light" href="#" style="padding-right: 6%; padding-left:6%">Pricing</a>
          <a class="nav-link text-light" href="#" style="padding-right: 6%; padding-left:6%">Disabled</a>
          <a class="nav-link text-light" href="#" style="padding-right: 6%; padding-left:6%">Disabled</a>
          <a class="nav-link text-light" href="#" style="padding-right: 6%; padding-left:6%">Disabled</a>
        </div>
      </div>
    </div>
  </nav>
</div>
</div>


<!-------- banner row----------->
<div class="container-fluid p-0 mt-1">
    <div id="carouselExampleSlidesOnly">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://app.firstfiddle.in/images/brand-banner/lotd.jpeg " class="d-block w-100" alt="...">
        </div>
    </div>
  </div>
</div>


<!-------- mid images and side text----------->
<div class="container-fluid p-5">
  <div class="container">
    <div class="row">

      <div class="col-md-5 col-sm-5 col-xs-5">
          <img src="https://i2.wp.com/job-flex.com/wp-content/uploads/2016/02/handymen-featured-image.jpg?fit=1080%2C675&ssl=1" alt="" width="100%" height="100%">
      </div>

      <div class="col-md-7 col-sm-7 col-xs-7" style="padding-left: 7%;padding-top: 2%;">
        <h1>WHY CHOOSE <span style="display: contents;color:#fbac29;">US?</span></h1>
        <p>The next generation of the web’s favorite icon library + toolkit is now available as a Beta release! Subscribe to Font Awesome Pro and get instant access to the v6 beta.</p>

        <div class="row pt-4" >
          <div class="col-md-1 col-sm-1 col-xs-1">
            <i class="fas fa-hand-holding-usd" style="font-size: 2rem;"></i>
          </div>

          <div class="col-md-5 col-sm-5 col-xs-5">
             <h3>LOW PRICE</h3>
             <p>The next generation of the web’s favorite icon library + toolkit is now available as a Beta release!</p>
          </div>

          <div class="col-md-1 col-sm-1 col-xs-1">
            <i class="fa fa-users" style="font-size: 2rem;"></i>
          </div>

          <div class="col-md-5 col-sm-5 col-xs-5">
            <h3>LOW PRICE</h3>
            <p>The next generation of the web’s favorite icon library + toolkit is now available as a Beta release!</p>
          </div>

        </div>

        <div class="row pt-5">

          <div class="col-md-1 col-sm-1 col-xs-1">
            <i class="fa fa-clock" style="font-size: 2rem;"></i>
          </div>

          <div class="col-md-5 col-sm-5 col-xs-5">
             <h3>LOW PRICE</h3>
             <p>The next generation of the web’s favorite icon library + toolkit is now available as a Beta release!</p>
          </div>

          <div class="col-md-1 col-sm-1 col-xs-1">
            <i class="fa fa-calculator" style="font-size: 2rem;"></i>
          </div>

          <div class="col-md-5 col-sm-5 col-xs-5">
            <h3>LOW PRICE</h3>
            <p>The next generation of the web’s favorite icon library + toolkit is now available as a Beta release!</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


<!-------- We offer services row----------->
<div class="container-fluid bg-light">
  <div class="container">
    <h1 class="d-flex justify-content-center pt-5">WE OFFER <span style="display: contents;color:#fbac29;"> SERVICES</span></h1>
    <i class="fa fa-ellipsis-h pt-2 d-flex justify-content-center" style="font-size: 2rem;"></i>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-lg-2">
          <div class="round-image-div">
           <img class="image-fluid mt-4" src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="" width="75%"> 
          </div>
           <p class="text-center mt-4 mt-4">Plumbing</p>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-2">
          <div class="round-image-div">
           <img class="image-fluid mt-4" src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="" width="75%"> 
          </div>
           <p class="text-center mt-4">Plumbing</p>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-2">
          <div class="round-image-div">
           <img class="image-fluid mt-4" src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="" width="75%"> 
          </div>
           <p class="text-center mt-4">Plumbing</p>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-2">
          <div class="round-image-div">
           <img class="image-fluid mt-4" src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="" width="75%"> 
          </div>
           <p class="text-center mt-4">Plumbing</p>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-2">
          <div class="round-image-div">
           <img class="image-fluid mt-4" src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="" width="75%"> 
          </div>
           <p class="text-center mt-4">Plumbing</p>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-2">
          <div class="round-image-div">
           <img class="image-fluid mt-4" src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="" width="75%"> 
          </div>
           <p class="text-center mt-4">Plumbing</p>
        </div>
    </div>
  </div>

  <div class="text-center" style="padding: 5%;">
  <button type="button" class="btn btn-warning text-white p-3">View all Services</button>
  </div>
</div>



<!------We tackle problem div ------->
<div class="container-fluid" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh_Ohje-xK_Mz2VvmzYThc7v45bmAT8gZt5w&usqp=CAU); height: 550px;">
  <div class="container p-5">
    <h1 class="d-flex justify-content-center pt-5 text-white">We'll Tackle Any Problem  </h1>
    <i class="fa fa-ellipsis-h pt-2 d-flex justify-content-center text-white" style="font-size: 2rem;"></i>
  </div>

  <div class="container" style="margin-top: 4%;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

        <!----first slide-->
        <div class="carousel-item active">
          <div class="row d-flex justify-content-around">

            <div class="card p-4" style="width: 25rem;">
              <img src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="Card image cap" width="60%;" style="margin-left: 19%;">
              <div class="card-body">
                <h5 class="card-title text-center">Plumbing</h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        
            <div class="card p-4" style="width: 25rem;">
              <img src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="Card image cap" width="60%;" style="margin-left: 19%;">
              <div class="card-body">
                <h5 class="card-title text-center">Plumbing</h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            
            <div class="card p-4" style="width: 25rem;">
              <img src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="Card image cap" width="60%;" style="margin-left: 19%;">
              <div class="card-body">
                <h5 class="card-title text-center">Plumbing</h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>

        <!----second slide--->
        <div class="carousel-item">
          <div class="row d-flex justify-content-around">

            <div class="card p-4" style="width: 25rem;">
              <img src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="Card image cap" width="60%;" style="margin-left: 19%;">
              <div class="card-body">
                <h5 class="card-title text-center">Plumbing</h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        
            <div class="card p-4" style="width: 25rem;">
              <img src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="Card image cap" width="60%;" style="margin-left: 19%;">
              <div class="card-body">
                <h5 class="card-title text-center">Plumbing</h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            
            <div class="card p-4" style="width: 25rem;">
              <img src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="Card image cap" width="60%;" style="margin-left: 19%;">
              <div class="card-body">
                <h5 class="card-title text-center">Plumbing</h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>

        <!----third slide---->
        <div class="carousel-item">
          <div class="row d-flex justify-content-around">

            <div class="card p-4" style="width: 25rem;">
              <img src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="Card image cap" width="60%;" style="margin-left: 19%;">
              <div class="card-body">
                <h5 class="card-title text-center">Plumbing</h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        
            <div class="card p-4" style="width: 25rem;">
              <img src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="Card image cap" width="60%;" style="margin-left: 19%;">
              <div class="card-body">
                <h5 class="card-title text-center">Plumbing</h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            
            <div class="card p-4" style="width: 25rem;">
              <img src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="Card image cap" width="60%;" style="margin-left: 19%;">
              <div class="card-body">
                <h5 class="card-title text-center">Plumbing</h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>


<!--------Team Members div-------->
<div class="container-fluid">
  <div class="container team-div">
    <h1 class="d-flex justify-content-center pt-5">OUR TEAM <span style="display: contents;color:#fbac29;"> Members</span></h1>
    <i class="fa fa-ellipsis-h pt-4 d-flex justify-content-center" style="font-size: 2rem;"></i>
  </div>

  <div class="container p-5">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 p-4">
        <img src="https://www.thebalancecareers.com/thmb/arD_b5BvAqj720ATkpi67iy0ILc=/3634x2726/smart/filters:no_upscale()/civil-engineers-looking-at-blueprints-473683922-5c14287446e0fb00014ad74b.jpg" class="d-block w-100 h-100" alt="">
      </div>

      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 p-4">
        
        <div class="row" >
          <div class="col-md-6 col-sm-6 col-xs-6 pb-3">
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrL5jIDLg66OnRwqS_mSbmnMDLJjAEWwGrTA&usqp=CAU" alt="" class=" w-100 h-100">
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6 pb-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrL5jIDLg66OnRwqS_mSbmnMDLJjAEWwGrTA&usqp=CAU" alt="" class=" w-100 h-100">
          </div>

        </div>

        <div class="row ">

          <div class="col-md-6 col-sm-6 col-xs-6 pt-3 ">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrL5jIDLg66OnRwqS_mSbmnMDLJjAEWwGrTA&usqp=CAU" alt="" class=" w-100 h-100">
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6 pt-3 ">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrL5jIDLg66OnRwqS_mSbmnMDLJjAEWwGrTA&usqp=CAU" alt="" class=" w-100 h-100">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
  


<!-----our works div------>

<div class="container-fluid" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh_Ohje-xK_Mz2VvmzYThc7v45bmAT8gZt5w&usqp=CAU); height: 550px;">
  <div class="container p-5">
    <h1 class="d-flex justify-content-center pt-5 text-white">Our Works  </h1>
    <i class="fa fa-ellipsis-h pt-2 d-flex justify-content-center text-white" style="font-size: 2rem;"></i>
  </div>

 <div class="container desktop-our-works">
   <div class="row">
       <div class="row justify-content-around">
         <div class="col-md-3 main-container">

                <div class="container image-container mt-3">
                <img src="https://www.thebalancecareers.com/thmb/arD_b5BvAqj720ATkpi67iy0ILc=/3634x2726/smart/filters:no_upscale()/civil-engineers-looking-at-blueprints-473683922-5c14287446e0fb00014ad74b.jpg" alt="" >
        
                <div  class="overlay">
                  <div class="button">
                    <button type="button" class="btn btn-warning">View All</button>
                  </div>
                 <div class="text">
                        <h3  class="title">Electrician</h3>
                        <span  class="post">Concrete Transport</span>
                    </div>
                 </div>
        
                </div>
               
        
         </div>

         <div class="col-md-3 main-container">

          <div class="container image-container mt-3">
          <img src="https://www.thebalancecareers.com/thmb/arD_b5BvAqj720ATkpi67iy0ILc=/3634x2726/smart/filters:no_upscale()/civil-engineers-looking-at-blueprints-473683922-5c14287446e0fb00014ad74b.jpg" alt="" >
  
          <div  class="overlay">
            <div class="button">
              <button type="button" class="btn btn-warning">View All</button>
            </div>
           <div class="text">
                  <h3  class="title">Electrician</h3>
                  <span  class="post">Concrete Transport</span>
              </div>
           </div>
  
          </div>
         
  
        </div>

         <div class="col-md-3 main-container">

    <div class="container image-container mt-3">
    <img src="https://www.thebalancecareers.com/thmb/arD_b5BvAqj720ATkpi67iy0ILc=/3634x2726/smart/filters:no_upscale()/civil-engineers-looking-at-blueprints-473683922-5c14287446e0fb00014ad74b.jpg" alt="" >

    <div  class="overlay">
      <div class="button">
        <button type="button" class="btn btn-warning">View All</button>
      </div>
     <div class="text">
            <h3  class="title">Electrician</h3>
            <span  class="post">Concrete Transport</span>
        </div>
     </div>

    </div>
   

          </div>

       </div>
   </div>
 </div>


 <div class="container mobile-our-works">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <!----first slide-->
      <div class="carousel-item active">
        <div class="col-md-3 main-container">

          <div class="container image-container mt-3">
          <img src="https://www.thebalancecareers.com/thmb/arD_b5BvAqj720ATkpi67iy0ILc=/3634x2726/smart/filters:no_upscale()/civil-engineers-looking-at-blueprints-473683922-5c14287446e0fb00014ad74b.jpg" alt="" >
  
          <div  class="overlay">
            <div class="button">
              <button type="button" class="btn btn-warning">View All</button>
            </div>
           <div class="text">
                  <h3  class="title">Electrician</h3>
                  <span  class="post">Concrete Transport</span>
              </div>
           </div>
  
          </div>
         
  
        </div>
      </div>

      <!----second slide--->
      <div class="carousel-item">
        <div class="col-md-3 main-container">

          <div class="container image-container mt-3">
          <img src="https://www.thebalancecareers.com/thmb/arD_b5BvAqj720ATkpi67iy0ILc=/3634x2726/smart/filters:no_upscale()/civil-engineers-looking-at-blueprints-473683922-5c14287446e0fb00014ad74b.jpg" alt="" >
  
          <div  class="overlay">
            <div class="button">
              <button type="button" class="btn btn-warning">View All</button>
            </div>
           <div class="text">
                  <h3  class="title">Electrician</h3>
                  <span  class="post">Concrete Transport</span>
              </div>
           </div>
  
          </div>
         
  
        </div>
      </div>

      <!----third slide---->
      <div class="carousel-item">
        <div class="col-md-3 main-container">

          <div class="container image-container mt-3">
          <img src="https://www.thebalancecareers.com/thmb/arD_b5BvAqj720ATkpi67iy0ILc=/3634x2726/smart/filters:no_upscale()/civil-engineers-looking-at-blueprints-473683922-5c14287446e0fb00014ad74b.jpg" alt="" >
  
          <div  class="overlay">
            <div class="button">
              <button type="button" class="btn btn-warning">View All</button>
            </div>
           <div class="text">
                  <h3  class="title">Electrician</h3>
                  <span  class="post">Concrete Transport</span>
              </div>
           </div>
  
          </div>
         
  
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

   
</div>



<!-------Our Valued Clients--------->
<div class="container-fluid p-5 mt-5">
  <div class="container">
    <h1 class="d-flex justify-content-center pt-5">Our Valued<span style="color:#fbac29;display: contents;"> Clients</span></h1>
    <i class="fa fa-ellipsis-h pt-4 d-flex justify-content-center" style="font-size: 2rem;"></i>
  </div>

  <div class="container" style="margin-top: 4%;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

        <!----first slide-->
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-lg-2 mb-1">
                  <div class="our-valued-div">
                   <img class="image-fluid clients-image" src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="" width="75%"> 
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-lg-2 mb-1">
                  <div class="our-valued-div">
                   <img class="image-fluid clients-image" src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="" width="75%"> 
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-lg-2 mb-1">
                  <div class="our-valued-div">
                   <img class="image-fluid clients-image" src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="" width="75%"> 
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-lg-2 mb-1">
                  <div class="our-valued-div">
                   <img class="image-fluid clients-image" src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="" width="75%"> 
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-lg-2 mb-1">
                  <div class="our-valued-div">
                   <img class="image-fluid clients-image" src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="" width="75%"> 
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-lg-2 mb-1">
                  <div class="our-valued-div">
                   <img class="image-fluid clients-image" src="https://www.theflyingsaucercafe.in/assets/images/delhi.png" alt="" width="75%"> 
                  </div>
                </div>
            </div>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

</div>




<!------Main footer------->
<div class="container-fluid bg-dark" style="padding:6%;">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 mt-2">
        <h4 class="text-white">HANDYMAN</h4>
        <span style="color:#fbac29" class="mt-3">_____</span>
        <div class="mt-2 text-white mt-4">
           <p class="m-0">Street 535,tempor 97</p>
           <p class="m-0">Dance willson lockwood house opostie</p>
           <p class="m-0">william country street</p>
        </div>

        <div class="text-white mt-5">
          <p class="mt-2 mb-2"><span style="color:#fbac29;margin-right:13%;">Phone:</span>   +91321412</p>
          <p class="mt-2 mb-2"><span style="color:#fbac29;margin-right:16%;">Email:</span>   Handyman@gmail.com</p>
          <p class="mt-2 mb-2"><span style="color:#fbac29;margin-right:10%;">Website:</span>  Handymanworks.com</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 mt-2">
        <h4 class="text-white">OUR SERVICES</h4>
        <span style="color:#fbac29" class="mt-3">_____</span>
        <div class="mt-2 text-white mt-4">
          <a href="" class="links"><span class="links-span"><i class="fas fa-caret-right"></i></span>Street 535,tempor 97</a><br><br>
          <a href="" class="links"><span class="links-span"><i class="fas fa-caret-right"></i></span>Dance willson lockwood house opostie</a><br><br>
          <a href="" class="links"><span class="links-span"><i class="fas fa-caret-right"></i></span>william country street</a><br><br>
          <a href="" class="links"><span class="links-span"><i class="fas fa-caret-right"></i></span>Street 535,tempor 97</a><br><br>
          <a href="" class="links"><span class="links-span"><i class="fas fa-caret-right"></i></span>Dance willson lockwood house opostie</a><br><br>
          <a href="" class="links"><span class="links-span"><i class="fas fa-caret-right"></i></span>william country street</a><br><br>
          <a href="" class="links"><span class="links-span"><i class="fas fa-caret-right"></i></span>william country street</a><br><br>
       </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 mt-2">
        <h4 class="text-white">QUICK LINKS</h4>
        <span style="color:#fbac29" class="mt-3">_____</span>

        <div class="mt-2 text-white mt-4">
          <a href="" class="links"><span class="links-span"><i class="fas fa-caret-right"></i></span>Home</a><br><br>
          <a href="" class="links"><span class="links-span"><i class="fas fa-caret-right"></i></span>About Us</a><br><br>
          <a href="" class="links"><span class="links-span"><i class="fas fa-caret-right"></i></span>Our services</a><br><br>
          <a href="" class="links"><span class="links-span"><i class="fas fa-caret-right"></i></span>Meet the Staff</a><br><br>
          <a href="" class="links"><span class="links-span"><i class="fas fa-caret-right"></i></span>Projects</a><br><br>
          <a href="" class="links"><span class="links-span"><i class="fas fa-caret-right"></i></span>Officet</a><br><br>
          <a href="" class="links"><span class="links-span"><i class="fas fa-caret-right"></i></span>NIghtClub</a><br><br>
       </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 mt-2">
        <h4 class="text-white">NEWSLETTER</h4>
        <span style="color:#fbac29" class="mt-3">_____</span>

        <div class="row mt-4">
          <input class="form-control mr-sm-2 m-2 w-75" type="search" placeholder="Search" aria-label="Search">
          <button type="submit" style="width:13%; background-color: #fbac29;border-radius: 8px;"><span class="text-white"><i class="fa fa-search" ></i></span></button>
        </div>

        <div class="row mt-5">
        <div class="p-1 text-center" style="width: 10%"><i class="fab fa-facebook-f text-light"></i></div>
        <div class="p-1 text-center" style="width: 10%"><i class="fab fa-linkedin-in text-light"></i></div>
        <div class="p-1 text-center" style="width: 10%"><i class="fas fa-wifi text-light"></i></div>
        </div>
      </div>
    </div>
  </div>


<!-----Sub Footer------>
<div class="container-fluid" style="background-color: #222221e8;padding:1%;">
  <div class="container d-flex justify-content-center">
    <p class="text-white">Made with  &  in Bentonville, Boston, Joplin, Seattle, and Vergennes.</p>
  </div>
</div>  



<!-- <div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="container help">
        <img src="https://www.thebalancecareers.com/thmb/arD_b5BvAqj720ATkpi67iy0ILc=/3634x2726/smart/filters:no_upscale()/civil-engineers-looking-at-blueprints-473683922-5c14287446e0fb00014ad74b.jpg" alt="" width="395px" height="400px" >

        <div  class="overlay">
         <div class="text">
                <h3  class="title" style="padding: 0px;margin:0px;">heading</h3>
             <span  class="post">subheading</span>
            </div>
         </div>

        </div>
        </div> 
    </div>
  </div>
</div> -->